language: ruby
rvm:
  - 2.6
  - 2.5
  - 2.4
  - 2.3
  - 2.2
  - 2.1
  - 2.0

  - ruby-head
  - jruby-9.1.6.0
  - jruby-21mode

matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-9.1.6.0
    - rvm: jruby-21mode

sudo: false

before_install:
  - gem update bundler
before_script:
  - bundle exec gem list
script: bundle exec uspec

addons:
  code_climate:
    repo_token:
      secure: "WonrzRifssblPi89TfgQvfRlWGfh8TqYtS0Vs6vSk8GfHwUIV1doaW9utQ0cvQrYNWS6xQzRdwk1QOwzvDhL0PnHSPd3bdSXJ4EW5RVWZNk4rsO4b9S1ksSL8ilSndIuJ41cfUvJPMpTvtc+cZnBehGb8rrf9sfV1hP8zq2Nn+o="
